body,html
{
	font-size: 76.66%;
}
footer
{
	padding-top: 2em;
}
#body
{
	padding-top: 12%;
}
#facebook
{
	padding: 0.5em 0.7em !important;
}
.bt-buscar
{
	background-color: rgba(199, 37, 55, 1);
	color: white;
	margin-top: 2em;
}
.container
{
	width:90% !important;
}
.container-fluid
{
	top: 0;
	padding-right: 0px !important;
	padding-left: 0px !important;
	box-shadow: 0px 2px 11px -1px black;
	height: auto;
}
.contCentrado
{
	float: none;
	display: block;
	margin: 0 auto;
}
.contdeColor
{
	border: 1px solid black;
	padding: 1em;
	border-radius: 16px;
	padding: 2em 2em 2em 3em !important;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.footerTerm
{
	text-align: center;
}
.formulario
{
	margin-bottom: 2em;
}
.imgMini
{
	width: 100px;
}
.imgPrinc
{
	width: 100%;
}
.inputBusqueda
{
	background-color: rgba(235, 235, 235, 1);
	margin-top: 2em;
}
.inputFondoNegro
{
	background-color: rgba(235, 235, 235, 1);
}
.inputForm
{
	margin-bottom: 2em;
}
.loading
{
	width:25px;
	height:25px;
	display: none;
	opacity: 0;
}
.logo
{
	padding: 1em;
	max-height: 125px;
	width: 100%;
}
.logo2
{
	width: 100%;
	padding: 1em;
}
.navbar-default
{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
}
.redes
{
	font-size: 3em !important;
	color: green;
	border-radius:50%;
	padding: 0.5em;
	border: 1px solid green;

}
.responseDanger
{
	display: none;
	opacity: 0;
}
.row
{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.slick-prev, .slick-next
{
	background-color: rgba(0,0,0,0.5) !important;
	border-radius: 50%;
}
.slick-prev{
	left: 0px !important;
}
.slick-next
{
	right: 0px !important;
}
.slick-slide img
{
	width: 100%;
}

.textoPromedio
{
	font-size: 1.5em;
}
.ulNoStyle
{
	list-style: none;
	padding:0px;
}