@font-face{ 
	font-family: Raleway; src: url('Raleway-Regular.ttf'); 
} 
@font-face { 
	font-family: Raleway; font-weight: bold; src: url('Raleway-Bold.ttf'); 
}
@font-face { 
	font-family: Raleway; font-weight: italic; src: url('Raleway-Italic.ttf'); 
}
body,html
{
	font-size: 76.66%;
	color:#404040;
	font-family: Relaway;
}
footer
{
	background-color: #ebebeb;
	padding-top: 2em;
    display: block;
  	margin-top: 2em;
  	overflow: auto;
}
#body
{
	padding-top: 15%;
}
#carrito
{
	cursor: pointer;
}
#contCarrito
{
	position: fixed;
	z-index: 100;
	background: white;
	overflow: hidden;
	width: 50%;
	left: 50%;
	height: 0px;
}
#facebook
{
	padding: 0.5em 0.7em !important;
}
#contCarrito.in
{
	height: 500px !important;
	overflow-y: scroll !important;
}
a.aSinFormato:hover
{
	color: black;
}
.aSinFormato
{
	color:#404040;
}
.bannerBottom > img
{
	width: 100%;
}
.bt-buscar
{
	background-color: rgba(199, 37, 55, 1);
	color: white;
	border-radius: 12px;
}
.carrito
{
	  width: 100%;
	  height: 65px;
	  display: inline-block;
}
.carImg
{
	max-width: 100px;
}
.carItem
{
	vertical-align: middle !important;
}
.columnCant
{
	width: 5%;	
}
.container
{
	width:90% !important;
}
.container-fluid
{
	top: 0;
	padding-right: 0px !important;
	padding-left: 0px !important;
	height: auto;
}
.contArtPrinc
{
	-webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
     -ms-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
	margin-bottom: 2em;
	width: 20%;
	float: none;
	display: inline-block;
	padding-top: 1em;
}
.contArtPrinc:hover
{
	border-left: none;
	box-shadow: 2px 5px 20px 0px black;
}
.contRedes
{
	text-align: right;
}
.contCentrado
{
	float: none;
	display: block;
	margin: 0 auto;
}
.contFoot
{
	  margin-top: 2em;
	  display: block;
	  margin: 2em auto;
	  float: none;
	  padding: 0px;
}
.contList
{
	padding: 0;
}
.contdeColor
{
	border: 1px solid black;
	padding: 1em;
	border-radius: 16px;
	padding: 2em 2em 2em 3em !important;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.footerTerm
{
	text-align: center;
}
.formulario
{
	margin-bottom: 2em;
}
.imgArtPrinc
{
	
	margin-bottom: 1em;
}
.imgMini
{
	max-width: 70px;
	
	border: 1px solid black;
	width: 11.25%;
}
.imgPrinc
{
	width: 100%;
}
.imgProd
{
	height: 400px;
}
.imgProd > img
{
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  -webkit-transform: translate(-50%,-50%);
	     -moz-transform: translate(-50%,-50%);
	      -ms-transform: translate(-50%,-50%);
	       -o-transform: translate(-50%,-50%);
	          transform: translate(-50%,-50%);
	  width: 300px;
} 
.inputBusqueda
{
	background-color: rgba(235, 235, 235, 1);
}
.inputFondoNegro
{
	background-color: rgba(235, 235, 235, 1);
}
.inputForm
{
	margin-bottom: 2em;
}
.imagesSlidesOption
{
	display: none;
	opacity: 0;
}
.loading
{
	width:25px;
	height:25px;
	display: none;
	opacity: 0;
}
.logo
{
	padding: 1em;
	max-height: 125px;
	width: 100%;
}
.logo2
{
	width: 100%;
	padding: 1em;
}
.miniBanner
{
	width: 100%;
	overflow: auto;
	background: rgb(227, 240, 218);
	padding: 0px;
	box-shadow: 0px 7px 10px -3px;
}
.myBuscador
{
	  -webkit-transform: translateY(-125%);
	     -moz-transform: translateY(-125%);
	      -ms-transform: translateY(-125%);
	       -o-transform: translateY(-125%);
	          transform: translateY(-125%);
	  float: none;
	  display: inline-block;
}
.navbar-default
{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
	background-image: linear-gradient(to bottom,#fff 0,#FFFFFF 100%) !important;
}
.navbar-collapse
{
	display: inline-block !important;
	width: 23% !important;
	padding-top: 1em;
	padding-bottom: 1em;
}
.adminlayout
{
	width: 100% !important;
}
.redes
{
	font-size: 3em !important;
	color: green;
	border-radius:50%;
	padding: 0.5em;
	border: 1px solid green;

}
.responseDanger
{
	display: none;
	opacity: 0;
}
.row
{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.slick-prev, .slick-next
{
	background-color: rgba(0,0,0,0.5) !important;
	border-radius: 50%;
}
.slick-prev{
	left: 0px !important;
}
.slick-next
{
	right: 0px !important;
}
.slick-slide img
{
	width: 100%;
}

.textoPromedio
{
	font-size: 1.5em;
}
.table
{
	text-align: center !important;
}
.table>thead>tr>th
{
	text-align: center; 
}
.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #E3F0DA !important;
}

.table > tbody > .tr-slide-desc > td
{
	vertical-align: middle !important;
}

.ulNoStyle
{
	list-style: none;
	padding:0px;
}
.volver
{
	display: none;
	opacity: 0;
}

/*item plugin*/
@media only screen and (min-width: 1170px){
#cd-gallery-items > li {
  width: 31%;
  float: left;
  margin-bottom: 7em;
  margin-right: 3.5%;
}
@media only screen and (min-width: 768px){
#cd-gallery-items > li {
  width: 48%;
  float: left;
  margin-right: 4%;
  margin-bottom: 6.5em;
}
#cd-gallery-items {
  margin-top: 1.5em;
}
#cd-gallery-items > li {
  position: relative;
  margin-bottom: 6em;
}
#cd-gallery-items > li img {
  width: 100%;
  display: block;
}
@media only screen and (min-width: 768px) {
  #cd-gallery-items {
    margin-top: 2em;
  }
  #cd-gallery-items > li {
    width: 48%;
    float: left;
    margin-right: 4%;
    margin-bottom: 6.5em;
  }
  #cd-gallery-items > li:nth-child(2n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1170px) {
  #cd-gallery-items {
    margin-top: 2.5em;
  }
  #cd-gallery-items > li {
    width: 31%;
    float: left;
    margin-bottom: 7em;
    margin-right: 3.5%;
  }
  #cd-gallery-items > li:nth-child(2n) {
    margin-right: 3.5%;
  }
  #cd-gallery-items > li:nth-child(3n) {
    margin-right: 0;
  }
}

.cd-item-wrapper {
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  perspective: 500px;
  -webkit-perspective-origin: 50% -30%;
  -moz-perspective-origin: 50% -30%;
  perspective-origin: 50% -30%;
  list-style: none;
}
.cd-item-wrapper li {
  position: absolute;
  top: 0;
  left: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.cd-item-wrapper li.cd-item-front {
  position: relative;
  z-index: 8;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.cd-item-wrapper li.cd-item-middle {
  z-index: 7;
}
.cd-item-wrapper li.cd-item-middle {
  z-index: 6;
}
.cd-item-wrapper li.cd-item-middle {
  z-index: 5;
}
.cd-item-wrapper li.cd-item-middle {
  z-index: 4;
}
.cd-item-wrapper li.cd-item-middle {
  z-index: 3;
}
.cd-item-wrapper li.cd-item-middle {
  z-index: 2;
}
.active .cd-item-wrapper li.cd-item-middle {
  /* 3D effect on touch devices */
  -webkit-transform: translate3d(0, 0, -20px);
  -moz-transform: translate3d(0, 0, -20px);
  -ms-transform: translate3d(0, 0, -20px);
  -o-transform: translate3d(0, 0, -20px);
  transform: translate3d(0, 0, -20px);
  opacity: .8;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.cd-item-wrapper li.cd-item-back {
  z-index: 1;
}
.active .cd-item-wrapper li.cd-item-back {
  /* 3D effect on touch devices */
  -webkit-transform: translate3d(0, 0, -40px);
  -moz-transform: translate3d(0, 0, -40px);
  -ms-transform: translate3d(0, 0, -40px);
  -o-transform: translate3d(0, 0, -40px);
  transform: translate3d(0, 0, -40px);
  opacity: .4;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.cd-item-wrapper li.cd-item-out {
  /* picture not visible - use this class in case you have more than 3 pictures per item */
  z-index: 0;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, -60px);
  -moz-transform: translate3d(0, 0, -60px);
  -ms-transform: translate3d(0, 0, -60px);
  -o-transform: translate3d(0, 0, -60px);
  transform: translate3d(0, 0, -60px);
}
.cd-item-wrapper li.move-right {
  -webkit-transform: translate3d(200px, 0, 0);
  -moz-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  -o-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
  opacity: 0;
  z-index: 4 !important;
}
.cd-item-wrapper li.hidden {
  /* used to hide the picture once it's pushed out - to the right */
  display: none !important;
}
.no-csstransitions .cd-item-wrapper li.cd-item-middle, .no-csstransitions .cd-item-wrapper li.cd-item-back {
  /* 3D effect not visible on browsers that don't support transitions */
  display: none;
}

.cd-item-info {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #f2f2f2;
  padding: 0 1em;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  z-index: 5;
}
.cd-item-info:after {
  content: "";
  display: table;
  clear: both;
}
.cd-item-info b {
  float: left;
  font-weight: bold;
}
.cd-item-info b a {
  color: #323d55;
}
.cd-item-info b a:hover {
  text-decoration: underline;
}
.cd-item-info em {
  float: right;
  color: #7385ad;
}

.cd-item-navigation a {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 36px;
  height: 66px;
  background-color: rgba(216, 216, 216, 0.4);
  background-image: url("../images/cd-icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 4;
  display: none;
  border-radius: 0.25em;
}
.no-touch .cd-item-navigation a:hover {
  background-color: rgba(216, 216, 216, 0.6);
}
.cd-item-navigation a.visible {
  display: block;
  -webkit-animation: cd-fade-in 0.4s;
  -moz-animation: cd-fade-in 0.4s;
  animation: cd-fade-in 0.4s;
}
.cd-item-navigation li:nth-child(1) a {
  left: 14px;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.cd-item-navigation li:nth-child(2) a {
  right: 14px;
}
.no-csstransitions .cd-item-navigation {
  display: none;
}

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.cd-3d-trigger {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 44px;
  height: 44px;
  background: url("../images/cd-icon-3d.svg") no-repeat center center;
  z-index: 4;
}
.no-touch .cd-3d-trigger {
  display: none;
}

.no-touch #cd-gallery-items > li:hover .cd-item-middle, .no-touch #cd-gallery-items > li:hover .cd-item-back {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.no-touch #cd-gallery-items > li:hover .cd-item-middle {
  /* 3D effect on no-touch devices */
  -webkit-transform: translate3d(0, 0, -20px);
  -moz-transform: translate3d(0, 0, -20px);
  -ms-transform: translate3d(0, 0, -20px);
  -o-transform: translate3d(0, 0, -20px);
  transform: translate3d(0, 0, -20px);
  opacity: .8;
}
.no-touch #cd-gallery-items > li:hover .cd-item-back {
  /* 3D effect on no-touch devices */
  -webkit-transform: translate3d(0, 0, -40px);
  -moz-transform: translate3d(0, 0, -40px);
  -ms-transform: translate3d(0, 0, -40px);
  -o-transform: translate3d(0, 0, -40px);
  transform: translate3d(0, 0, -40px);
  opacity: .4;
}
.cd-img-replace
{
  background-color: rgba(147, 227, 24, 0.51) !important; 
}
.cd-img-replace:focus
{
  background-color: rgba(250, 0, 0, 0.76) !important;
}
.cd-gallery-items
{
  list-style: none;
}
.navButtom
{
  opacity: 0;
}