.container
{
	width:90% !important;
}
.container-fluid
{
	padding-right: 0px !important;
	padding-left: 0px !important;
	box-shadow: 0px 2px 11px -1px black;
	height: auto;
}
.logo
{
	max-width: 400px;
	max-height: 150px;
	width: 100%;
}
.navbar-default
{
	position: fixed;
	width: 100%;
}